hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo{
    font-weight: 500;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__titulo{
        font-size: 14px;
        color: var(--cinza-claro);
        margin-bottom: 0.5em;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin-left: 0.6em 0;
        
    }

    .lista-rodape__link{
        color: var(--cinza);
        text-decoration: none;
        padding: 1em 0;
        margin-left: 0.5em;
        
    }

    .lista-rodape__link:hover{
        color: var(--cor-curupira);
        font-weight: 500;
    }

    .rodape__icone{
        width: 35px;
        border-radius: 24px;
    }
}

@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding: 1em;
    }

    .lista-rodape__link{
        padding: 1em 0;
    }
    
    .rodape{
        padding: 3em 0;
    }
}