:root{
    --cor-curupira: #d52722;
    --branco-curupira: #ebe7de;
    --laranja-yai: #ed7600;
    --branco: #ffffff;
    --preto: #000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --cor-de-fundo: #ebebeb; 
    --font-principal: 'Poppins', sans-serif;
}